/*--------------------------------------------------------------
# About Page
--------------------------------------------------------------*/

.about {
  text-align: center;

  h2 {
    color: $color__purple-brand;
    font-size: 1.5rem;
    font-weight: 900;

    @include desktop {
      font-size: 3rem;
      font-weight: 700;
    }
  }

  p {
    font-size: 1.25rem;
    padding: 0 1.5rem;
  }
}

.about-video {
  background-color: $color__offwhite-brand;

  @include desktop {
    padding: 0.5rem 0 0;
  }

  iframe {
    height: 15rem;
    width: 100%;

    @include desktop {
      height: 30rem;
      width: 75%;
    }
  }
}

.beliefs, .more-media, .directors, .advisors, .loyalty-circles, .applause {
  @include info-panel-styles;

  span {
    color: $color__deepblue-brand;
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0;
  }
}

.donor-panel {
  @include info-panel-styles;

  span {
    font-size: 0.9rem;
    margin: 0;
  }
}

.month-panel {
  @include info-panel-styles;

  span {
    font-size: 0.9rem;
    margin: 0;
  }
}

.our-beliefs {

  h2, ul {
    display: none;
  }

  li {
    text-align: left;
  }

  .acr-box-content ul {
    display: block;
  }

  @include desktop {
    padding-bottom: 5rem;

    h2 {
      display: inline-block;
    }

    ul {
      display: inline-block;
      padding: 0 18rem;
      margin: 0 auto;
    }

    .info-panel-content {
      display: none;
    }

  }

}

.about .recent-news {
  background-color: $color__offwhite-brand;
  padding: 3rem 0;
  margin: 0;

  .post-meta {

    p {
      display: none;
      font-size: 1.25rem;
      padding-left: 0;

      @include desktop {
        display: block;
      }
    }

  }

  .info-panel-content {
    display: none;
  }

}

.advisor-list {

  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 1rem;
    margin: 0;

    ul {
      padding: 0;
    }
  }

  li {
    padding: 0 0.5rem;
    margin: 0 0 1.5rem;
    width: 33%;

    li {
      width: 100%;
    }
  }

}

.supporters {

  p {
    font-size: 0.9rem;
    @include desktop {
      font-size: 1.25rem;
    }
  }

}

.donor-list {
  text-align: left;
}
