/*--------------------------------------------------------------
# About Page
--------------------------------------------------------------*/

.about {
  text-align: center;

  h2 {
    color: $color__purple-brand;
    font-size: 1.5rem;
    font-weight: 900;
  }

  p {
    font-size: 1.25rem;
    padding: 0 1.5rem;
  }
}

.about-video iframe {
  width: 100%;
  height: 16.9rem;

  @include desktop {
    height: 45rem;
  }
}

.beliefs, .more-media, .directors, .advisors, .loyalty-circles, .applause {
  @include info-panel-styles;

  span {
    color: $color__deepblue-brand;
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
  }
}

.donor-panel {
  @include info-panel-styles;

  span {
    margin: 0;
  }
}

.month-panel {
  @include info-panel-styles;

  span {
    font-size: 0.9rem;
    margin: 0;
  }
}
