/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
	position: relative; //remove after test!
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}



/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

/* Tri Hero Images */
.tri-img-grid {
  @include desktop {
    display: flex;
    justify-content: space-between;
  }
}

.tri-img {
  background: #ffffff;
  flex: 0 1 100%;
  height: 375px;
  margin-bottom: 2rem;
  overflow: hidden;
  position: relative;
  img {
    top: 50%;
    left: 50%;
    max-width: none;
    max-height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
		@include tablet {
			width: 100%;
			max-height: none;
		}
		@include desktop {
			width: auto;
			height: 100%;
			//max-height: 100%;
		}
  }
  @include desktop {
    flex: 0 1 32%;
  }
}

.tri-img-quote {
  background: rgba(0, 0, 0, .5);
  bottom: 0;
  color: #fff;
  margin-bottom: 1rem;
  position: absolute;
  width: 100%;
  p {
    font-size: 1.15rem;
    line-height: 1.15;
  }
}

/* Full Width Hero Image */
.page-hero {
  height: 232px; //400px;
  overflow: hidden;
  position: relative;
  img {
		top: 50%;
		left: 50%;
    position: absolute;
		width: 100%;
		height: auto;
		transform: translate(-50%, -50%) scale(1.2);
		@include tablet {
			width: 100%;
			height: auto;
			transform: translate(-50%, -50%) scale(1);
			//max-height: none;
		}
  }
  @include desktop {
    height: 500px;
  }
}
.hero-quote {
	background-color: rgba(0,0,0,.5);
  color: #fff;
  font-size: 1rem;
	max-width: 60%;
	margin-left: 1rem;
  padding: 0 1rem;
  position: absolute;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
	@include tablet {
		left: auto;
		margin-left: 2rem;
		top: 2rem;
	  transform: translateY(0%);
	}
  @include desktop {
    font-size: 1.75rem;
    padding: 0 2rem;
		max-width: 40%;
  }
}
