/*--------------------------------------------------------------
# Events Page
--------------------------------------------------------------*/

/*    Events Archive   */

.events {

  h1, h2 {
    color: $color__purple-brand;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
    line-height: 1.75rem;

    @include desktop {
      font-size: 2.5rem;
    }
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @include desktop {
      padding: 2rem;
      margin-bottom: 3rem;
    }

  }

  img {
    height: auto;
    width: 100%;
  }

  hr {
    display: none;

    @include desktop {
      display: block;
    }
  }

}

.premier-events {

  ul {
    @include desktop {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }

  li {
    @include desktop {
      flex-direction: column;
      width: 33%;
    }
  }

  a {
    margin: 0 auto;
  }
  .event-thumbnail {
    width: 35%;
    @include desktop {
      width: 100%;
    }
  }
  .event-content {
    width: 65%;
    @include desktop {
      width: 100%;
    }
  }
}

.partner-events {

  .event-thumbnail {
    width: 35%;
    @include desktop {
      width: 65%;
    }
  }

  a {
    margin: 0 auto;
  }

}

.event-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;

  .thumb-img-div {
    width: 50%;

    @include desktop {
      margin-bottom: 1rem;
      width: 65%;
    }
  }

}

.event-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  margin-bottom: 2rem;
  @include desktop {
    width: 100%;
    margin-top: 1rem;
  }

  h3 {
    color: $color__purple-brand;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 2rem;
    @include desktop {
      font-size: 2rem;
    }
  }

  a {
    margin: 0 auto;
  }

}

.host-fundraiser-event {
  background-color: $color__offwhite-brand;
  padding: 2rem 0 1rem;
  text-align: center;

  @include desktop {
    padding: 5rem 0;
  }

  a {
    margin: 0 auto;
  }
}

.to-donate-sponsor {

  h2 {
    margin-bottom: 0;
  }

}

/*    Single Event Page    */

.single {

  .entry-header {
    img {
      width: auto;
    }
  }
  .entry-content {
    img {
      width: auto;
    }
  }
}
