/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.site-footer {
  font-size: 12px;
  color: #FFF;
  background-color: #663399;

  p {
    margin: 0;
  }
}

.site-info{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  h2 {
    margin: 12px 0 6px;
  }

  .contact-button {
    color: #FFF;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1.5px solid #FFF;

    &:hover {
      color: #FFF;
      text-decoration: underline;
    }

    &:visited {
      color: #FFF;
    }
  }

}

.address, .phone-fax-email {
  margin: 6px 0;

  a {
    color: #FFF;
    text-decoration: none;

    &:hover {
      color: #FFF;
      text-decoration: underline;
    }

    &:visited {
      color: #FFF;
    }
  }
}

.follow {

  h2 {
    margin: 12px 0 6px;
  }

  .social-icons {
    margin-top: 48px;

    i {
      font-size: 20px;
      padding: 0 6px;
    }
  }

}
