/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.site-footer {
  font-size: $font__basesize;
  background-color: $color__purple-brand;

  p {
    margin: 0;
  }
}

.site-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #FFF;

  h3 {
    color: #FFF;
    margin: 1rem 0 0.5rem;
  }
}

.contact {
  display: flex;
  justify-content: space-between;
  flex-direction: column;


  .contact-button {
    color: #FFF;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1.5px solid #FFF;

    &:hover {
      color: #FFF;
      text-decoration: underline;
    }

    &:visited {
      color: #FFF;
    }
  }

}

.address, .phone-fax-email {
  margin: 0.5rem 0;

  a {
    color: #FFF;
    text-decoration: none;

    &:hover {
      color: #FFF;
      text-decoration: underline;
    }

    &:visited {
      color: #FFF;
    }
  }
}

.follow {
  text-align: center;

  .social-icons {
    margin-top: 4rem;
    font-size: 1.7rem;

    i {
      padding: 0 1rem;
    }
  }

}
