@mixin mobile {
	@media (min-width: $mobile-width) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: $desktop-minwidth) {
		@content;
	}
}

// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin button-default-styles {
	border: none;
	border-radius: 20px;
	background: $color__brightblue-brand;
	color: #fff;
	margin-bottom: 2rem;
	@include font-size(0.83);
	line-height: 1;
	width: 8.33rem;
	height: 2.5rem;
	text-transform: uppercase;
	@include desktop {
		width: 14.25rem;
		height: 3.65rem;
		border-radius: 41px;
		font-size: 18px;
	}
}

@mixin info-panel-styles {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $color__offwhite-brand;
	height: 3.75rem;
	padding: 0 1rem;
	margin: 0 auto 2.5rem;
	width: 100%;
	@include desktop {
		height: 7rem;
		padding: 0 3rem;
	}
	.fa-plus-circle, .fa-minus-circle {
		color: $color__deepblue-brand;
		font-size: 2.5rem;
		@include desktop {
			font-size: 4rem;
		}
	}
	&:hover {
		cursor: pointer;
	}
}

@mixin img-overflow {
    left: 50%;
    max-width: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
