/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus ----------------------------------------------------------------------*/

// Responsive Menu (#click-menu) - Overide styles

#click-menu {
	position: fixed !important;
	top: 9px!important;
	right: 10px!important;
}

#responsive-menu.RMOpened {
	margin-top: 54px !important;
}

#responsive-menu {
	.responsive-menu li a {
		width: 100% !important;
		border-top: 0 !important;
		border-bottom: 1px solid #ff6633 !important;
		padding: 12px 0px 12px 1% !important;
	}
	.responsive-menu li .appendLink {
		position: absolute !important;
		border: 0 !important;
		right: 0px !important;
		top: 10px !important;
		padding: 0 !important;
	}
	.menu-main-menu-container {
		width: auto !important;
		margin: 0 20px;
	}
}

#responsive-menu .sub-menu {
	li {
		padding: 0 0;
		.appendLink {
			position: absolute !important;
			border: 0 !important;
			right: 0px !important;
			top: 3px !important;
			padding: 0 !important;
		}
		a {
			border-bottom: 0 !important;
			margin: 0 !important;
			padding: 5px 0px 5px 1% !important;
			width: 100% !important;
		}
	}
}

#responsive-menu .responsive-menu {
	display: flex !important;
	flex-direction: column !important;
	& :first-child {
		order: 2 !important;
	}
	& :nth-child(2) {
		order: 3 !important;
	}
	& :nth-child(3) {
		order: 4 !important;
	}
	& :last-child {
		order: 1 !important;
	}
	.menu-item-118 {
		a {
			color: $color__brightblue-brand !important;
		}
	}
}

#responsive-menu .responsive-menu li li a {
	width: auto !important;
}

.responsive-menu a {
	text-transform: uppercase;
}

.sub-menu {
	a {
		text-transform: capitalize;
	}
}

.menu-main-menu-container {
	width: 600px;
}

.menu {
	display: flex;
	justify-content: center;
}

// Desktop (primary) Navigation
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		&:nth-child(3) {
			ul {
				right: -9%;
			}
		}

		ul {
			float: left;
			position: absolute;
			top: $base__menu-spacing;
			left: -999em;
			z-index: 99999;

			ul {
				left: -2000em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 180px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a {
		color: $color__orange-brand;
		padding: 53px 25px;
	}
}

.sub-menu {
	.current_page_item > a,
	.current-menu-item > a {
		padding: 0;
	}
}

// navigation arrow up (item 1 and 2)
.main-navigation .menu li > ul::before {
	content: '';
	margin: 0 auto;
 	width: 0;
 	height: 0;
	padding-top: 10px;
 	border-left: 25px solid transparent;
 	border-right: 25px solid transparent;
 	border-bottom: 25px solid #fff;
	background-color: transparent;
	position: absolute;
	top: -28px;
	left: 58px;
}

// navigation arrow up (item 3)
.main-navigation .menu :nth-child(3) > ul::before {
	content: '';
	margin: 0 auto;
 	width: 0;
 	height: 0;
	padding-top: 10px;
 	border-left: 25px solid transparent;
 	border-right: 25px solid transparent;
 	border-bottom: 25px solid #fff;
	background-color: transparent;
	position: absolute;
	top: -28px;
	left: 33px;
}

//navigation arrow up (sub-menu items)
.main-navigation .menu li ul ul::before {
	content: none;
}

.main-navigation:not(.sub-menu) {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    background-color: $color__purple-header;
    height: 54px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
    @include desktop {
        height: 90px;
    }
}


.menu-main-menu-container {
	display: flex;
	width: 656px;
	position: relative;
	margin-right: 30px;
	flex-wrap: nowrap;
}

.main-navigation li {
	a {
		padding: 53px 25px;
		color: #fff;
		font-size: 18px;
		text-transform: uppercase;
	}
}

.main-navigation #menu-item-118 a {
	padding: 0.8rem 2.9rem;
	background: $color__brightblue-brand;
	border-radius: 41px;
	position: absolute;
	top: 42px;
	margin-left: 20px;
}

.logo-wrap {
	width: 300px;
	margin-left: 20px;
	a {
		padding: 0;
		:focus {
			outline: none;
		}
	}
	img {
		width: 100%;
	}
	@include desktop {
		width: 200px;
	}
}

.sub-menu {
	background-color: #fff;
	li {
		background-color: #fff;
		padding: 5px 10px;
		width: 200px;
		border: 0;
		a {
			padding: 0;
			color: $color__purple-brand;
			font-size: 12px;
			width: 200px;
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
