/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

//Responsive Menu

.responsive-menu {
	a {
		text-transform: uppercase;
	}
}

.sub-menu {
	a {
		text-transform: capitalize;
	}
}

.menu-main-menu-container {
	width: 600px;
}

.menu {
	display: flex;
	justify-content: center;
}

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
		color: $color__orange-brand;
		padding-bottom: 0.42rem;
		border-bottom: $border__dashed;
	}
}

.main-navigation {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    background-color: $color__purple-header;
    height: 4.5rem;
	width: 100vw;
    padding: 10px 10px 0 10px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
    @include desktop {
        height: 7rem;
    }
}

.menu-main-menu-container {
	width: 630px;
	.menu-item-106 {
		display: flex;
		align-items: center;
	}
}

.main-navigation a {
	padding: 0 1.75rem;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
}

.logo-wrap {
	width: 250px;
	margin-left: 10px;
	a {
		padding: 0;
	}

	img {
		width: 100%;
	}
	@include desktop {
		width: 200px;
	}
}

.sub-menu {
	background-color: $color__purple-header;
	li {
		margin-top: 36px;
		background-color: #fff;
		border: 1px solid #fff;
		a {
			font-size: 12px;
			color: $color__purple-brand;
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
