/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus ----------------------------------------------------------------------*/

//Responsive Menu (#click-menu)

.responsive-menu {
	a {
		text-transform: uppercase;
	}
}

.sub-menu {
	a {
		text-transform: capitalize;
	}
}

.menu-main-menu-container {
	width: 600px;
}

.menu {
	display: flex;
	justify-content: center;
}

// Desktop (primary) Navigation
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		&:nth-child(3) {
			ul {
				right: -9%;
			}
		}

		ul {
			float: left;
			position: absolute;
			top: $base__menu-spacing;
			left: -999em;
			z-index: 99999;

			ul {
				left: -2000em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 180px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
		color: $color__orange-brand;
		padding-bottom: 0.42rem;
		text-decoration: underline;
	}
}

.site-header {
	width: 100vw;
}

.main-navigation .menu li > ul::before {
	content: '';
	margin: 0 auto;
 	width: 0;
 	height: 0;
	padding-top: 10px;
 	border-left: 25px solid transparent;
 	border-right: 25px solid transparent;
 	border-bottom: 25px solid #fff;
	background-color: transparent;
	position: absolute;
	top: -28px;
	left: 72px;
}

.main-navigation .menu :nth-child(3) > ul::before {
	content: '';
	margin: 0 auto;
 	width: 0;
 	height: 0;
	padding-top: 10px;
 	border-left: 25px solid transparent;
 	border-right: 25px solid transparent;
 	border-bottom: 25px solid #fff;
	background-color: transparent;
	position: absolute;
	top: -28px;
	left: 45px;
}

.main-navigation .menu li ul ul::before {
	content: none;
}

.main-navigation:not(.sub-menu) {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    background-color: $color__purple-header;
    height: 4.5rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
    @include desktop {
        height: 7rem;
    }
}


.menu-main-menu-container {
	display: flex;
	width: 750px;
	position: relative;
	margin-right: 30px;
	flex-wrap: nowrap;
}

.main-navigation li {
	a {
		padding: 40px ;
		color: #fff;
		font-size: 18px;
		text-transform: uppercase;
	}
}

.main-navigation #menu-item-118 a {
	padding: 1rem 3.5rem;
	background: $color__brightblue-brand;
	border-radius: 41px;
	position: absolute;
	top: 23px;
	margin-left: 30px;
}

.logo-wrap {
	width: 250px;
	margin-left: 10px;
	a {
		padding: 0;
	}

	img {
		width: 100%;
	}
	@include desktop {
		width: 200px;
	}
}

.sub-menu {
	background-color: #fff;
	li {
		background-color: #fff;
		padding: 10px;
		width: 200px;
		border: 0;
		a {
			padding: 0;
			color: $color__purple-brand;
			font-size: 12px;
			width: 200px;
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
