/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page --------------------------------------------------------------------- */

.hero-slider ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    li {
        height: 16.9rem;
        @include desktop {
            padding: 0 0 10rem 5rem;
            height: 40rem;
        }
        p {
            padding: 0.5rem;
            line-height: 1.5rem;
            width: 16.5rem;
            @include desktop {
                width: 29.6rem;
                line-height: 2.7rem;
            }
        }
    }
    li:first-child {
        background: url("../../assets/images/hero-images/hero-donate.jpg") no-repeat;
        background-size: cover;
    }
    li:nth-child(2) {
        background: url("../../assets/images/hero-images/hero-young-girl.jpg") no-repeat;
        background-size: cover;
    }
    li:last-child {
        background: url("../../assets/images/hero-images/hero-big-little-power.jpg") no-repeat;
        background-size: cover;
    }
}

.bigsister-hero-fp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    .hero-quote {
        color: #fff;
        background-color: rgba(100, 100, 100, 0.3);
        font-size: 1.2rem;
        @include desktop {
            font-size: 2.15rem;
        }
    }
}

.colored-menu-sections a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    @include desktop {
        flex-basis: 33.1%;
        font-size: 22px;
    }
}

.colored-menu-sections {
    a:first-child div {
        background-color: $color__orange-brand;
    }
    a:nth-child(2) div {
        background-color: $color__dusk-brand;
    }
    a:last-child div {
        background-color: $color__deepblue-brand;
    }
    @include desktop {
        display: flex;
        justify-content: space-between;
        margin: 0;
        a div {
            margin: 0;
        }
    }
}

.colored-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 170px;
    margin: 1rem 0.83rem;
    @include desktop {
        height: 16rem;

    }
    .icon-container {
        width: 60px;
        img {
            width: 100%;
        }
        @include desktop {
            width: 100px;
        }
    }
    p {
        margin: 0;
    }

}

.newsletter {
    padding: 50px 0;
    h1 {
        margin-top: 0;
        text-align: center;
        font-size: 1.2rem;
        @include desktop {
            font-size: 2rem;
        }
    }

    .name-container {
        width: 100%;
        margin-bottom: 0.83rem;
        @include desktop {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            & :first-child, & :last-child  {
                margin: 0;
                flex-basis: 48%
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        padding: 0 0.83rem;
        margin: 0 auto;
        @include desktop {
            width: 50%;
        }
        input {
            width: 100%;
            @include desktop {
                height: 50px;
                margin-bottom: 20px;
            }
        }
        & :last-child {
            margin: 0 auto;
        }
    }
}

.hero-stories ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    @include desktop {
        padding: 2rem 0.83rem;
        display: flex;
        justify-content: space-between;
    }
    li {
        height: 16.9rem;
        @include desktop {
            padding: 0 0 10rem 5rem;
            height: 26rem;
            flex-basis: 32.7%;
            margin: 0;

        }
    }
    li:first-child {
        background: url("../../assets/images/hero-images/hero-front.jpg") no-repeat right;
        background-size: cover;
    }
    li:nth-child(2) {
        background: url("../../assets/images/quote-image.jpg") no-repeat center;
        background-size: cover;
        p {
            height: 5rem;
            line-height: 2rem;
            font-size: 1.58rem;
            padding: 0 34px;
            @include desktop {
                height: 4.5rem;
                line-height: 2.3rem;
                font-size: 1.8rem;
                padding: 0 70px;
            }

        }
    }
    li:last-child {
        background: url("../../assets/images/hero-images/hero-big-little-snow.jpg") no-repeat center;
        background-size: cover;
    }
}

.individual-hero-stories {
    position: relative;
    margin: 0.83rem;
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(100, 100, 100, 0.6);
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        height: 8.2rem;
        @include desktop {
            bottom: 35px;
        }
    }
    p {
        margin: 0;
        padding: 0 20px;
    }
}

.stories-quote {
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.4rem;
    @include desktop {
        font-size: 1.2rem;
    }
}

.quote-orange {
    color: $color__orange-brand;
}

.quote-dusk {
    color: $color__dusk-brand;
}

.quote-blue {
    color: $color__brightblue-brand;
}

.quote-green {
    color: $color__green-brand;
}

.quoter {
    color: #fff;
    font-size: 1rem;
    padding-right: 20px;
    text-align: right;
}

.fp-recent-donors {
    padding: 30px 30px 60px 30px;
    h1 {
        font-size: 1.7rem;
        text-align: center;
        margin: 0 0 35px 0;
        line-height: 2rem;
        @include desktop {
            font-size: 2rem;
        }
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        & :last-child .donor-name {
            line-height: 1.75rem;
        }
        @include desktop {
            display: flex;
            justify-content: space-around;
        }
    }
}

.individual-donor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    @include desktop {
        flex-basis: 25%;
    }
    .donor-name {
        font-size: 1rem;
        text-align: center;
        margin: 0;
        @include desktop {
            font-size: 1.4rem;
            height: 80px;
        }
    }

    p {
        margin: 0;
    }
    @include desktop {
        .donation-amount {
            color: $color__deepblue-brand;
        }
    }
}

.program-sponsors {
    background-color: $color__offwhite-brand;
    padding: 30px 0;
    @include desktop {
        padding: 50px 0 20px;
    }
    h1 {
        width: 250px;
        margin: 0 auto;
        font-size: 1.3rem;
        text-align: center;
        line-height: 2rem;
        @include desktop {
            font-size: 2rem;
            width: 100%;
        }
    }
    ul {
        list-style-type: none;
        margin: 0 20px;
        padding-left: 0;
        display: flex;
        justify-content: space-around;
    }

    .sponsor-logo-wrap {
        display: flex;
        flex-basis: 30%;
        align-items: center;
        @include desktop {
            flex-basis: 20%;
        }
        img {
            width: 100%;
        }
    }
}

/* Success Stories */
.stories-copy {
  text-align: center;
}
.story-thumb {
  height: 300px;
  overflow: hidden;
  position: relative;
  img {
    left: 50%;
    max-width: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.25);
  }
}
.story-title, .story-subhead {
  font-weight: 700;
  font-size: $font__basesize * 1.75;
}
.story-title {
  color: $color__green-brand;
}

.story-panel-content {
  &:hover {
    cursor: pointer;
  }
  .button-white {
    margin: 0 auto 2rem;
    display: flex;
      justify-content: center;
      align-items: center;
  }
}

// ========== Initiative blocks ============

.initiative-block {
  width: 100%;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.initiative-logo {
  background: #fff;
  border: solid 4px #aaa;
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  display: flex;
    justify-content: center;
    align-items: center;
}
.initiative-cta {
  box-shadow: 0 2px 4px rgb(100, 100, 100);
  font-size: 1.7rem;
  height: 25rem;
  padding-top: 6.5rem;
  position: relative;
  top: -6rem;
  width: 25rem;
  z-index: -1;
  h2, p {
    color: #fff;
    line-height: 1.25;
  }
}
.big-sister-mentor {
  background-color: $color__deepblue-brand;
}
.study-buddy-mentor {
  background-color: $color__dusk-brand;
}
.go-girls-mentor {
  background-color: $color__orange-brand;
}

/* Refer A Little Page -------------------------------------------------*/

.quote-image-container {
  display: flex;
  // flex-direction: column;
  align-items: center;
  height: 170px;
  margin: 1rem 0.83rem;
    p {
      padding: 10px;
      line-height: 24px;
      width: 235px;
      // position: absolute;
    }
}

.quote-image-one, .quote-image-two, .quote-image-three {
  width: 300px;
  height: 170px;
}

.refer-title, .enroll-title, .study-buddy-title{
  text-align: center;
}

.enroll-title, .study-buddy-title, .step-color {
  color: #663399;
}

ul {
  padding: 0 0;
}

.info-panel-content {
  @include info-panel-styles;
}

.step-color {
  font-weight: bold;
}

.steps-button {
  margin: 0 auto 2rem 6rem;
}

/* Current Mentor Resources Page -------------------------------------------*/

.mentor-hero {
  background: url("../../assets/images/mentor-resources-images/current-mentor-hero.jpg") no-repeat;
  background-size: 100vw;
  height: 263px;
}

.upcoming-events-section {
  img {
    width: 100%;
  }
}

.ar-menu-sections {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
    a {
      text-decoration: none;
      color: black;
    }
    div {
      background-color: $color__offwhite-brand;
      margin: 10px;
    }
    p {
      text-align: center;
    }
}
