/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.hero-slider ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    li {
        height: 16.9rem;
        p {
            padding: 0.83rem;
            line-height: 24px;
            width: 19.6rem;
        }
    }
    li:first-child {
        background: url("../../assets/images/hero-images/hero-front.jpg") no-repeat;
        background-size: 100vw;

    }
    li:nth-child(2) {
        background: url("../../assets/images/hero-images/hero-big-little-snow.jpg") no-repeat;
        background-size: 100vw;

    }
    li:last-child {
        background: url("../../assets/images/hero-images/hero-big-little-power.jpg") no-repeat;
        background-size: 100vw;
    }
}

.bigsister-hero-fp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    .hero-quote {
        color: #fff;
        background-color: rgba(100, 100, 100, 0.4);
        font-size: 20px;
    }
}

.colored-menu-sections a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 170px;
        margin: 1rem 0.83rem;
    }
}

.colored-menu-sections {
    a:first-child div {
        background-color: $color__orange-brand;

    }
    a:nth-child(2) div {
        background-color: $color__dusk-brand;
    }
    a:last-child div {
        background-color: $color__deepblue-brand;
    }
}

.icon-container {
    width: 100px;
    img {
        width: 100%;
    }
}

.newsletter {
    form {
        width: 100%;
        padding: 0 0.83rem;
        input {
            // margin: 0 0.83rem;
        }
    }
}


/* Success Stories */
.stories-copy {
  text-align: center;
}
.story-thumb {
  border: 1px solid #fff;
  height: 300px;
  overflow: hidden;
  position: relative;
  img {
    left: 50%;
    max-width: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.25);
  }
}
.story-title, .story-subhead {
  font-weight: 700;
  font-size: $font__basesize * 1.75;
}
.story-title {
  color: $color__green-brand;
}

.story-panel-content {
  &:hover {
    cursor: pointer;
  }
  .button-white {
    margin: 0 auto 2rem;
    display: flex;
      justify-content: center;
      align-items: center;
  }
}

// ========== Initiative blocks ============

.initiative-block {
  width: 100%;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.initiative-logo {
  background: #fff;
  border: solid 4px #aaa;
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  display: flex;
    justify-content: center;
    align-items: center;
}
.initiative-cta {
  box-shadow: 0 2px 4px rgb(100, 100, 100);
  font-size: 1.7rem;
  height: 25rem;
  padding-top: 6.5rem;
  position: relative;
  top: -6rem;
  width: 25rem;
  z-index: -1;
  h2, p {
    color: #fff;
    line-height: 1.25;
  }
}
.big-sister-mentor {
  background-color: $color__deepblue-brand;
}
.study-buddy-mentor {
  background-color: $color__dusk-brand;
}
.go-girls-mentor {
  background-color: $color__orange-brand;
}

/* Refer A Little Page -------------------------------------------------*/

.refer-title, .enroll-title, .study-buddy-title{
  text-align: center;
}

.enroll-title, .study-buddy-title, .step-color {
  color: #663399;
}

ul {
  padding: 0 0;
}

.step-color {
  font-weight: bold;
}

.steps-button {
  margin: 0 auto 2rem 6rem;
}
