
//Box-Shadow
$shadow__main: 0px 2px 8px #888888;

// Structure
$base__space-unit: 1.5em;
$base__menu-spacing: 7.1rem;
$margin__outer: 0 0.83rem;

//Screen Width
$desktop-minwidth: 900px;
$desktop-maxwidth: 1280px;
$mobile-width: 480px;

// Colors
//BS color palette
$color__purple-header: #673BB6;
$color__purple-brand: #663399;
$color__deepblue-brand: #006699;
$color__brightblue-brand: #0BB7FF;
$color__orange-brand: #FF9933;
$color__green-brand: #99CC33;
$color__yellow-brand: #FFCC66;
$color__dusk-brand: #FF6633;
$color__offwhite-brand: #F0F0F0;

$color__background-body: #fff;
$color__text-main: #404040;
$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

// Typography
$font__main: "Roboto", sans-serif;
$font__baseweight: 300;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__basesize: 12px;
$font__basesize-desktop: 20px;
$font__line-height-body: 1.75;
$font__line-height-pre: 1.6;

//Border
$border__dashed: 3px dashed $color__orange-brand;
